.dropdown-menu-v2 > li > a {
    color: #fff;
}
.page-header .navbar .navbar-nav > li > a {
    color: #ccc;
}
.page-header .navbar .search .form-control {
    border: 1px solid #555;
}
.page-content-header {
    width:auto;
    background-color: #f9f9f9;
    padding: 20px;
    margin-top: 64px;
    text-align: right;
    font-size: 25px;
}
.page-content-header h2, .page-content-header h2 a {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu Light', sans-serif;
    font-size: 30px;
    color: #999;
}
.page-content-header h2 a:hover {
    color:#1b6d85;
    text-decoration: none;
}
.page-content {
    padding-top: 15px;
}
#navigation-load-modal .modal-dialog {

}
.page-content-app-with-menu {
    width: 80%;
    min-height: 300px;
    border-right: 1px dotted #ccc;
    float:left;
    padding-right:35px;
}
.pwstrip {
    margin-bottom: 0;
}
.child-menu {
    padding: 0;
    margin: 0;
}
.child-menu li {
    list-style: none;
    width:auto;
}
.child-menu li a {
    display: block;
    border-bottom: 1px dotted #ccc;
    padding-top: 7px;
    padding-bottom: 7px;
    color: #777;
    padding-left: 10px;
}
.child-menu li a:hover {
    text-decoration: none;
    color: #1b6d85;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0+100;Neutral+Density */
    background: -moz-linear-gradient(left, #ccc 0%, #fff 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #ccc 0%, #fff 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #ccc 0%,#fff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccc', endColorstr='#fff',GradientType=1 ); /* IE6-9 */

}
.child-menu li.active a {
    background-color: #fff;
    margin-left: -1px;
    padding-left: 11px

    background: -moz-linear-gradient(left, #eee 0%, #fff 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #eee 0%, #fff 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #eee 0%,#fff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eee', endColorstr='#fff',GradientType=1 ); /* IE6-9 */

}
.child-menu li:last-child a {
    border-bottom: 0;
}
.page-content-header.no-tabs {
    margin-top: 0;
}
.form-horizontal .form-group {
    margin: 0 !important;
}
.modal-body {
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

#create-site-form .wpflaver-select .chosen-container {
    width: 350px !important;
}

#create-site-form .wpclient-select .chosen-container {
    width: 556px !important;
}


.state {
    float:left;
    background-color: #fff;
    border-radius: 50% !important;
    width:15px;
    height:15px;
    margin-top: 3px;
    background-color: #ccc;
}

.state.up {
    background-color: #66cc00;
}

.state.down {
    background-color: #FFA500;
}
.navbar-fixed-bottom, .navbar-fixed-top {
    position: inherit;
    padding: 0;
}
.page-header .navbar-fixed-top {
    padding: 0;
}
.page-header .topbar-actions {
    right: 14px;
    top:0;
}
.page-header .navbar-collapse {
    margin-top: 12px;
}
.CodeMirror {
    border: 1px solid #eee;
}
.alert h4 {
    font-weight: bold;
}
.alert {
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}
.wrapper {
    margin-top: -10px;
}
.table {
    margin-bottom: 0;
}
.table-pagination {
    width:auto;
    border-top: 2px solid #e7ecf1;
    padding-top: 15px;
}
.table-pagination .nav {
    float: right;
}
.table-pagination .showing {
    float: right;
}
.table-pagination .nav ul {
    padding: 0;
    margin: 0;
}
.table-pagination .nav li {
    list-style: none;
    float: left;
    margin-right: 8px;
}

.table-pagination .nav li a {
    display: block;
    padding: 10px;
    padding: 0 6px;
    border-radius: 50% !important;
    border: 1px solid #009dc7;
    color: #009dc7;
}
.table-pagination .nav li.disabled a {
    background-color: #009dc7;
    color: #fff;
}
.half {
    width: 261px !important;
    float: left !important;
}
.form .form-body, .portlet-form .form-body {
    padding: 10px !important;
}
.client-admin-plan-wrapper {
    background-color: #7EFC7E;
}
.chosen-container {
    width: 100% !important;
}

.wpplan-select {
    width: 536px !important;
}
.dropwplist .dropdown-menu {
    width:200px;
    box-shadow: 0px 0px 10px #ccc;
}
.dropwplist .dropdown-menu a {
    display: block;
    padding: 5px;
    color: #666;
    width: 200px;
    border-bottom: 1px dotted #ccc;
}

.dropwplist .dropdown-menu a:hover {
    text-decoration: none;
    background-color: #eee;
}
.btn-group.open .dropdown-toggle {
    box-shadow: none;
}
.tt-menu {
    background-color: #fff;
}
.tt-dataset {
    min-width: 340px;
    box-shadow: 0px 0px 10px #2f373e;
}
.tt-suggestion {
    padding: 5px;
    border-top: 1px dotted #ccc;
    font-size: 10px;
    cursor: pointer;
}
.tt-suggestion:hover, .tt-cursor {
    background-color: #eee;
}
.table tbody tr:hover {
    background-color: #f9f9f9;
}
.md-progress {
    height: 10px;
    margin-bottom: 0;
    width: 100%;
}
.progress-danger {
    background-color: #ec971f;
}
.recent-activity-wrapper {
    width: auto;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}
.recent-activity-wrapper ul {
    margin: 0;
    padding: 0;
}
.recent-activity-wrapper li {
    list-style: none;
    margin-bottom: 20px;
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px dotted #ccc;
}

.page-content-app-with-menu.inaction {
    /*min-height: 450px;*/
}

.recent-activity-wrapper li .date {
    font-size: 10px;
    font-weight:bold;
}

.recent-activity-wrapper li.fail {
    background-color: #fbe1e3;
}
.settings-wrapper {
    width: auto;
}
.settings-wrapper h3 {
    margin-top: 0;
    padding-top: 0;
    float: left;
}
.setting-head-btn {
    float: right;
    margin-top: 3px;
}
.setting-switch {
    float: right;
}
.setting-switch .bootstrap-switch .bootstrap-switch-handle-on,
.setting-switch .bootstrap-switch .bootstrap-switch-handle-off,
.setting-switch .bootstrap-switch .bootstrap-switch-label {
    padding: 3px 9px;
}
.wpchart {
    width:auto;
    background-color: #f9f9f9;
    border: 0px solid #ccc;
    min-height: 315px;
    padding: 10px;
    margin-bottom: 30px;
    box-shadow: 0 0 5px #ccc;
}
.site-info-data {
    background-color: #f9f9f9;
    width: auto;
    min-height: 80px;
    margin-right: 20px;
    border:1px solid #ccc
}
.site-info-data.last {
    margin-right: 0;
}
.table.graph-table tbody tr:hover {
    background-color: #fff;
}
.table.graph-table tbody tr td {
    border: 0;
    padding: 0;
    width: 33.3%;
}
.hasgraph .site-info-data {
    min-height: 150px;
}
#pageload-graph .c3-area {
    /*opacity:0.8 !important;*/
}
#serverload-graph .c3-area {
    opacity:0.8 !important;
}
circle.c3-shape.c3-circle {
    display:none;
}
.dash-info td {
    padding: 5px !important;

}
.dash-info td.lname {
    text-align: right;
    font-family: Oswald, sans-serif;
    color: #999;
    margin: 5px;
    /*width:140px;*/
}
.nav-collapse .page-content-header h2 {
    display: none;
}
.nav-collapse .page-content-header {
    padding: 10px;
}
.running-container-wrapper {

}
.dash-container-table td, .dash-container-table th {
    padding: 5px !important;
}
.dash-container-table {
    border-bottom: 1px solid #d5d5d5;
}
.serv-down {
    color: #cc0000;
    text-transform: uppercase;
}
.dash-container-scale {
    float:right;
    margin-top:-24px;
}
.dash-container-scale a {
    font-size: 17px;
    color: #999;
}
.dash-container-scale a:hover {
    color: #4083D8 !important;
}

#job-live-screen {
    width: auto;
    background: #202020;
    height: 350px;
    overflow-x: hidden;
    color: #fff;
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

#job-live-screen-append {
    width: auto;
    background: #202020;
    height: 350px;
    overflow-x: hidden;
    color: #fff;
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    margin-top: -12px;
    display: none;
    border-top: 0;
}


.console-message.important {
    font-weight: bold;
}
.console-message.important.error {
    color:#FF0000;
}
.console-message.important.success {
    color:#1DC116;
}
.console-message.important.warning {
    color:#ec971f;
}
.console-message.important.bright {
    color:#FFFF66;
}
.console-end-box {
    width: auto;
    padding: 10px;
    color: #555;
    display:none;
    margin: 0;
    margin-top: 20px;
    border: 1px solid #ccc;
}
.header-stats-page {
    width: auto;
    padding: 10px;
    background-color: #eee;

}
.header-stats-page span.hl {
    font-weight: bold;
    color: #555;
    font-size: 15px;
}
.stats-page-date {
    width:200px;
}
.header-stats-page .chosen-container {
    width: 200px !important;
}
.copyright.mainpage {
    width:auto;
    text-align: right;
    margin-right: 20px;
    color: #7a8ca5;
    font-size: 13px;
}